p {
  margin: 0.75rem 0rem;
  padding: 0rem;
  line-height: 1.5rem; }

code {
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #68a;
  background-color: #eee;
  padding: 0px 3px;
  margin: 0px 1px;
  font-family: monospace; }

@media screen {
  html {
    font-size: 16px; }
  body {
    font-family: Helvetica, arial, sans-serif;
    color: #333;
    margin: 0rem 2rem 2rem;
    padding: 0rem;
    background-color: #ddd; }
  main {
    background-color: white;
    margin: 0rem;
    padding: 2rem 4rem 3rem;
    border: solid 1px #ccc;
    box-shadow: 0.4rem 0.44rem 0.3rem #707070; }
  h1 {
    color: #27a; }
  main {
    min-height: calc(100vh - 2rem - 2rem - 2rem); } }

@media print {
  @page {
    size: portrait;
    margin: 0; }
  html {
    font-size: 4mm; }
  body {
    font-family: Helvetica, arial, sans-serif;
    color: black;
    margin: 0rem;
    padding: 0rem; }
  main {
    background-color: white;
    margin: 0rem;
    padding: 2rem 4rem 3rem; }
  h1 {
    color: black; } }
