@media screen {
  html {
    font-size: 14px; }
  body {
    font-family: Helvetica, arial, sans-serif;
    color: #333;
    margin: 0rem 2rem 2rem;
    padding: 0rem;
    background-color: #ddd; }
  main {
    background-color: white;
    margin: 0rem;
    padding: 2rem 4rem 3rem;
    border: solid 1px #ccc;
    box-shadow: 0.4rem 0.44rem 0.3rem #707070; }
  h1 {
    color: #27a; }
  main {
    min-height: calc(100vh - 2rem - 2rem - 2rem); } }

@media print {
  @page {
    size: portrait;
    margin: 0; }
  html {
    font-size: 4mm; }
  body {
    font-family: Helvetica, arial, sans-serif;
    color: black;
    margin: 0rem;
    padding: 0rem; }
  main {
    background-color: white;
    margin: 0rem;
    padding: 2rem 4rem 3rem; }
  h1 {
    color: black; } }
