$font-family: Helvetica, arial, sans-serif;

$screen-font-size: 16px;
$screen-font-color: #333;
$screen-back-color: #aaa;
$screen-sheet-color: white;
$screen-sheet-shadow: 6px 6px 5px rgba(112, 112, 112, 1.0);

$print-font-size: 4.5mm;
