$font-family: Helvetica, arial, sans-serif;
$font-size: 14px;
$font-color: #333;
$link-color: #00e;
$disabled-color: #999;
$title-color: #37a;
$sheet-color: white;
$background-color: #ddd;

$chapter-configs: /* (chapter-type, content-after-index) */
  (preface, '')
  (chapter, ' ')
  (appendix, ' ')
  (postface, '');
