h1.xslbook-title {
  margin: 0rem;
  padding: 0rem;
  font-size: 2rem;
  line-height: 1.5;
}

div.xslbook-subtitle, span.xslbook-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
}

h1.xslbook-title + div.xslbook-body, div.xslbook-subtitle + div.xslbook-body {
  margin-top: 1rem;
}

div.xslbook-body {
  line-hright: 1.5;
  padding-left: 0.5rem;
}
