p {
  margin: 0.75rem 0rem;
  padding: 0rem;
  line-height: 1.5rem;
}

code {
  border: solid 1px #ccc;
  border-radius: 3px;
  color: #68a;
  background-color: #eee;
  padding: 0px 2px;
  font-family: monospace;
}

span.bar, span.dots {
  letter-spacing: -0.3px;
  padding: 0px 0.15px;
}

