@media screen {
  html {
    font-size: $screen-font-size;
  }

  body {
    background-color: $screen-back-color;
  }

  main {
    margin: 2rem;
    background-color: $screen-sheet-color;
    box-shadow: $screen-sheet-shadow;
    min-height: calc(100vh - 10rem);
  }
}


@page {
  size: A4;
}

@media print {
  html {
    font-size: $print-font-size;
  }

  main {
    margin: 0rem;
  }
}
