@mixin navi-style(
    $link-color,
    $disabled-color,
    $separator-color) {

  nav.navi {
    text-align: center;

    & > .navi-page {
      a {
        color: $link-color;

        &.disabled {
          color: $disabled-color;
        }
      }

      &:not(:first-of-type) {
        padding-left: 0.5rem;
      }

      &:not(:last-of-type) {
        padding-right: 0.5rem;
        border-right: solid 1px $separator-color;
      }
    }
  }

  header {
    height: 1.7rem;
    line-height: 1.7rem;
    vertical-align: middle;
  }

  footer {
    height: 1.7rem;
    line-height: 1.7rem;
    vertical-align: middle;
    margin-top: 0.5rem;
  }

  article {
    min-height: calc(100vh - 1.7rem - 2rem - 3rem - 1.1rem - 1.7rem);
  }
}
