@mixin navi-style(
    $link-color,
    $disabled-color,
    $separator-color) {

  nav.navi {
    text-align: center;

    & > .navi-page {
      a {
        color: $link-color;

	&.disabled {
          color: $disabled-color;
	}
      }

      &:not(:first-of-type) {
        padding-left: 0.5rem;
      }

      &:not(:last-of-type) {
        padding-right: 0.5rem;
	border-right: solid 1px $separator-color;
      }
    }
  }
}
