blockquote {
  margin-left: 0px;
  color: #888;
  border-left: solid 4px #ddd;
  padding: 0.3rem 0rem 0.3rem 1rem;
  font-style: italic;
}
blockquote > div.quote-source {
  text-align: right;
}
blockquote > div.quote-source > span.quote-source::before {
  content: '────';
  letter-spacing: -0.3px;
  margin-right: 0.3rem;
}
