@mixin title-style($font-size, $index-after) {
  & > .title {
    font-size: $font-size;
    color: $title-color;

    @if $index-after != '' {
      & > .index::after {
        content: $index-after;
      }
    }
  }
}

.xslbook {
  @include title-style(2rem, '');

  @each $chapter-name, $index-after
    in (preface, ''),
       (chapter, ' '),
       (appendix, ' '),
       (postface, '') {

    & > .#{$chapter-name} {
      @include title-style(1.5rem, $index-after);

      & > .clause {
        @include title-style(1.3rem, $index-after);

        & > .section {
          @include title-style(1.2rem, $index-after);

          .section {
            @include title-style(1.1rem, $index-after);
          }
        }
      }
    }
  }
}
