@each $_chapter-type, $_content-after-index in $chapter-configs {
  .index-in-#{$_chapter-type} + .label::before {
    content: $_content-after-index;
  }
}

@mixin title-style($_font-size, $_color) {
  & > .title {
    font-size: $_font-size;
    @if $_color != '' {
      color: $_color;
    }
  }
}

@mixin body-style {
  & > .body {
    margin-left: 0.8rem;
  }
}

.xslbook {
  @include title-style(2rem, $title-color);
  @include body-style;

  @each $_chapter-type in $chapter-configs {
    & > .#{$_chapter-type} {
      @include title-style(1.5rem, $title-color);
      @include body-style;

      & > .clause {
        @include title-style(1.3rem, $title-color);
        @include body-style;

        & > .section {
          @include title-style(1.2rem, $title-color);
          @include body-style;

          .section {
            @include title-style(1.1rem, $title-color);
            @include body-style;
          }
        }
      }
    }
  }
}

