
.chapter > .title > .index:after {
  content: ' ';
}

.appendix > .title > .index:after {
  content: ' ';
}

.clause > .title > .index:after {
  content: ' ';
}

.clause > .title > .index:after {
  content: ' ';
}

.section > .title > .index:after {
  content: ' ';
}

.section > .title > .index:after {
  content: ' ';
}
