@mixin toc-title-style($_font-size) {
  & > .title {
    font-size: $_font-size;
    line-height: 1.4rem;
  }
}

.xslbook {
  & > .toc {
    @include title-style(1.3rem, $title-color);

    & > .body {
      margin-left: 0.5rem;

      @each $_chapter-type in $chapter-configs {
        .toc-#{$_chapter-type} {
          @include toc-title-style(1.1rem);
        }
      }

      .toc-clause {
        @include toc-title-style(1.1rem);
      }

      .toc-section {
        @include toc-title-style(1.1rem);
      }

      .toc-part {
        @include title-style(1.2rem, $title-color);

        & > .title {
          margin-left: -0.3rem;
        }
      }
    }
  }

  @each $_chapter-type in $chapter-configs {

    .#{$_chapter-type} {

      .toc {
        @include title-style(1.3rem, $title-color);
        margin-left: 0.5rem;

        & > .body {
          margin-left: 0.5rem;

          .toc-clause {
            @include toc-title-style(1.1rem);
          }

          .toc-section {
            @include toc-title-style(1.1rem);
          }
        }
      }
    }
  }
}
